
layout {
    gaps 8

    center-focused-column "never"

    preset-column-widths {
        proportion 0.2
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 0.8
    }

    default-column-width { proportion 1.0; }
    focus-ring {
        //off
        width 1

        active-color "#c061cb"
        inactive-color "#696969"
    }

    border {
        off

        //off

        width 1
        active-color "#FF9900"
        inactive-color "#696969"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 1
        offset x=0 y=5
        color "#0007"
    }

    struts 
}
