
output "eDP-1" {
    mode "1920x1080@120.030"

    scale 1

    transform "normal"

    position x=1280 y=0
}

output "LG Electronics LG ULTRAWIDE 0x000357A4" {
    mode "2560x1080"
    position x=0 y=0

    layout {
        always-center-single-column
        default-column-width { proportion 0.75; }

        preset-column-widths {
 
            proportion 0.33333 
            proportion 0.5     
            proportion 0.66667 
        }
    }
}

output "eDP-2" {
    mode "2560x1600@240.024"
    position x=0 y=1080
    scale 1.6
    transform "normal"

    layout {
        always-center-single-column
        default-column-width { proportion 0.75; }
        
        preset-column-widths {
            proportion 0.5
            proportion 0.75
            proportion 1.0
        }
    }
}
