
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Floating Windows
window-rule {
  match app-id="^capn.menu.window$"
  match app-id="^waypaper$"
  match app-id="^org.gnome.Nautilus$"
  match app-id="^blueberry.py$"
  match app-id="^wdisplays$"
  match app-id="^org.pulseaudio.pavucontrol$"
  
  match app-id="thunar"
  default-column-width { proportion 0.5; }
  default-window-height { fixed 600; }

  open-floating true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
